html,
body {
  font-family: "Londrina Solid", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  padding: 0;
  color: rgb(58, 58, 58);
}

a {
  text-decoration: none;
  color: #5381ff;
}

a:hover {
  background: #f2f4fd;
  transition: 100ms;
}

p {
  color: rgb(87, 87, 87);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 650px;
  background: url("assets/images/hero_mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section > .hero-image {
  display: none;
}

.hero-section > .hero-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-section > .hero-info > h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
}

.hero-section > .hero-info > h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.hero-section > .hero-info > .hero-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section > .hero-info > .hero-links > .hero-link {
  margin: 8px;
  padding: 5px 24px;
  font-size: 20px;
  border: #5381ff 2px solid;
  border-radius: 5px;
}

.experience-section {
  text-align: center;
  height: auto;
  margin: 10px;
}

.experience-section > h4 {
  font-size: 32px;
  margin: 10px 0 20px 0;
  padding: 0;
}

.experience-section > .experience-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  border: rgb(230, 230, 230) 1px solid;
  border-radius: 5px;
}

.experience-section > .experience-card > .experience-icon {
  margin: 10px auto;
  height: auto;
  max-width: 120px;
  text-align: center;
}

.experience-section > .experience-card > .experience-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-section > .experience-card > .experience-info > .experience-job {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.experience-section
  > .experience-card
  > .experience-info
  > .experience-job
  > h5 {
  margin: 10px 0;
  padding: 0;
  font-size: 22px;
}

.experience-section
  > .experience-card
  > .experience-info
  > .experience-job
  > .experience-division,
.experience-tech {
  margin: 2px 0;
  padding: 0 20px;
  font-size: 20px;
}

.experience-section > .experience-card > .experience-info > .experience-date {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.experience-section
  > .experience-card
  > .experience-info
  > .experience-date
  > p {
  margin: 10px 5px 0 0;
  padding: 0;
  font-size: 20px;
}

.project-section {
  text-align: center;
  height: auto;
  margin: 10px;
}

.project-section > h4 {
  font-size: 32px;
  margin: 60px 0 20px 0;
  padding: 0;
}

.project-section > .project-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.project-section > .project-row > .project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: rgb(230, 230, 230) 1px solid;
  border-radius: 5px;
  padding: 40px 0;
  margin: 10px 0;
  width: 100%;
  height: auto;
}

.project-section > .project-row > .project-card > .project-icon {
  padding: 10px;
  max-width: 120px;
  height: auto;
}

.project-section > .project-row > .project-card > .project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.project-section > .project-row > .project-card > .project-info > h5 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.project-section > .project-row > .project-card > .project-info > p {
  margin: 10px 0 20px 0;
  padding: 0;
  font-size: 18px;
}

.project-section
  > .project-row
  > .project-card
  > .project-info
  > .project-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-section
  > .project-row
  > .project-card
  > .project-info
  > .project-links
  > .project-link {
  margin: 0 10px 0 0;
  padding: 5px 30px;
  font-size: 16px;
  border: #5381ff 2px solid;
  border-radius: 5px;
}

.site-footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 30px 10px;
}

.site-footer > p {
  font-size: 24px;
  color: #838282;
}

.site-footer > .social-links > .social-link:hover {
  background: none;
  transition: 0ms;
}

.site-footer > .social-links > .social-link > .social-icon {
  max-width: 40px;
  margin: 0 20px;
  height: auto;
}

.site-footer > .social-links > .social-link > .social-icon:hover {
  filter: brightness(50%);
  transition: 100ms;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .hero-section > .hero-info > h1 {
    font-size: 64px;
  }

  .hero-section > .hero-info > h3 {
    font-size: 32px;
  }

  .hero-section > .hero-info > .hero-links > .hero-link {
    padding: 5px 37px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .hero-section {
    background-size: contain;
  }

  .experience-section > h4 {
    margin: 10px 0 40px 0;
    font-size: 48px;
  }

  .experience-section > .experience-card {
    flex-direction: row;
  }

  .experience-section > .experience-card > .experience-icon {
    padding: 0px 40px;
    max-width: 150px;
    height: auto;
  }

  .experience-section
    > .experience-card
    > .experience-info
    > .experience-job
    > h5 {
    margin: 0;
    font-size: 34px;
  }

  .experience-section
    > .experience-card
    > .experience-info
    > .experience-job
    > .experience-division,
  .experience-tech {
    padding: 0;
    font-size: 24px;
  }

  .experience-section
    > .experience-card
    > .experience-info
    > .experience-date
    > p {
    padding: 0;
    font-size: 28px;
  }

  .project-section > h4 {
    margin: 80px 0 40px 0;
    font-size: 48px;
  }

  .project-section > .project-row > .project-card {
    flex-direction: row;
  }

  .project-section > .project-row > .project-card > .project-info {
    align-items: flex-start;
    text-align: left;
  }

  .project-section > .project-row > .project-card > .project-info > h5 {
    font-size: 32px;
  }

  .project-section > .project-row > .project-card > .project-info > p {
    font-size: 20px;
  }

  .project-section
    > .project-row
    > .project-card
    > .project-info
    > .project-links {
    justify-content: flex-start;
  }

  .project-section > .project-row > .project-card > .project-icon {
    padding: 20px;
    max-width: 150px;
  }

  .project-section
    > .project-row
    > .project-card
    > .project-info
    > .project-links
    > .project-link {
    font-size: 20px;
  }

  .site-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px 40px 10px;
  }

  .site-footer > .social-links > .social-link > .social-icon {
    max-width: 50px;
    margin: 0 0 0 20px;
  }

  .site-footer > p {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .experience-section > .experience-card > .experience-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .experience-section > .experience-card > .experience-info > .experience-job {
    align-items: flex-start;
  }

  .experience-section > .experience-card > .experience-info > .experience-date {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experience-section
    > .experience-card
    > .experience-info
    > .experience-date
    > p {
    margin: 0;
    padding: 0 20px;
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .hero-section {
    background: none;
    justify-content: space-between;
  }

  .hero-section > .hero-image {
    display: block;
    width: 50%;
    max-width: 550px;
    height: auto;
  }

  .hero-section > .hero-info {
    width: 50%;
  }

  .hero-section > .hero-info > .hero-links > .hero-link {
    padding: 5px 25px;
    font-size: 32px;
  }

  .project-section > .project-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }

  .project-section > .project-row > .project-card {
    width: 48%;
    margin: 0;
  }

  .project-section
    > .project-row
    > .project-card
    > .project-info
    > .project-links {
    justify-content: space-between;
  }

  .project-section
    > .project-row
    > .project-card
    > .project-info
    > .project-links
    > .project-link {
    margin: 0;
  }
}
